/* ###################################################################  entete */
header{
    padding: 5px;
    height: 90px;
    width: 50%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header div{
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#nouveau{
    height:40px;
    color: lightgreen;
    background-color: green;
    border-radius: 10%;
}
#barrer{
    height:40px;
    color: hotpink;
    background-color: darkred;
    border-radius: 10%;
}
#lancer{
    height:40px;
    color: lightgreen;
    background-color: darkgreen;
    border-radius: 10%;
}
.de{
    height: 90px;
    width: 90px;
    font-size: 75px;
}
#tour{
    width: 20px;
    height: 20px;
}

/* ###################################################################################  section titre*/

#secTitre{
    background-color: coral;
    padding: 5px;
    width: 50%;
    display: grid;
    grid-template-columns: 15% 17% 17% 17% 17% 17%;
}
#flecheDescend{
    grid-column: 2;
    grid-row: 1;
    text-indent : 10%;
}
#flecheMonte{
    grid-column: 3;
    grid-row: 1;
    text-indent : 10%;
}
#libre{
    grid-column: 4;
    grid-row: 1;
    text-indent : 10%;
}
#btnSec{
    grid-column: 5;
    grid-row: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
#btnAnnonce{
    grid-column: 6;
    grid-row: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#selectAnn{
    grid-column: 6;
    grid-row: 2;
}

/* ##################################################################################  section haute */
#secHaut{
    padding: 5px;
    width: 50%;
    height: 300px;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 15% 85%;
}
#colHaut{
    grid-column: 1;
    height: 300px;
    background-color: rgb(18, 139, 45);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#tabHaut{
    grid-column: 2;
    height: 300px;
    background-color: rgb(73, 20, 220);
    display: grid;
    grid-template-columns: repeat(5, 20%);

}
#tabHaut button{
    width: 40px;
    height: 40px;
}

/* ##############################################################################  section score intermediaire*/
#secInter{
    background-color: darkgoldenrod;
    padding: 5px;
    width: 50%;
    height: 40px;
    display: grid;
    grid-template-columns: 15% 85%;
}

#interButton{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    height: 30px;
}
#interButton button{
    width: 40px;
    height: 40px;
    text-align: center;
}

/* ################################################################################  section bas */
#secBas{
    padding: 5px;
    width: 50%;
    height: 300px;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 15% 85%;
}
#colBas{
    grid-column: 1;
    height: 300px;
    background-color: rgb(18, 139, 45);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#tabBas{
    grid-column: 2;
    height: 300px;
    background-color: rgb(73, 20, 220);
    display: grid;
    grid-template-columns: repeat(5, 20%);

}
#tabBas button{
    width: 40px;
    height: 40px;
}

/* #####################################################################################  pied de page */
footer{
    padding: 5px;
    width: 50%;
    height: 60px;
    background-color: brown;
    display: grid;
    grid-template-columns: 15% 85%;
}
#finalScore{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    height: 30px;
}
#finalScore button{
    width: 40px;
    height: 40px;
    text-align: center;
}
#ptsTotal{
    width: 60px;
    height: 40px;
}
/* ##########################################################################################  media queries*/
@media screen and (min-width: 556px) and (max-width:1100px){
    header{
        height: 200px;
        justify-content: left;
    }
}
@media screen and (max-width: 555px){
    header{
        height: 200px;
        width: 100%;
        justify-content: left;
    }
    #secTitre{
        width: 100%;
    }
    #secHaut{
        width: 100%;
    }
    #secInter{
        width: 100%;
    }
    #secBas{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}